body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /*background-image must be set first and the library of background properties are set after. otherwise they wont be applied*/
  background: url(./media/img/VUH-maskwoman.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.keania-one-regular {
  margin-top: 0;
  font-family: "Keania One", sans-serif;
  font-size: 14vw;
  font-weight: 400;
  font-style: normal;
  color: rgba(42, 66, 66, 0.726);
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

header {
  background-color: rgba(255, 217, 0, 0.753);
  min-width: min-content;
  max-width: max-content;
  padding: 20px;
  margin: 0;
  border-radius: 8px;
}

ul,
li,
p,
h4 {
  font-size: 4vw;
  padding: 0;
  margin: inherit;
}

li {
  list-style: none;
}

.card-template {
  border-bottom: 1px solid rgba(42, 66, 66, 0.473);
}

.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.performance-count {
  text-decoration: line-through;
}

footer {
  background-color: rgba(255, 217, 0, 0.726);
  max-width: max-content;
  min-width: max-content;
  padding: 20px;
  /* make the footer element round like pill */
  border-radius: 9999px;
}

@media screen and (width <= 500px) {
  .social-media {
    flex-direction: column;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

i {
  color: rgba(42, 66, 66, 0.589);
  font-size: 2em;
  padding: 0 2px;
}
