body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /*background-image must be set first and the library of background properties are set after. otherwise they wont be applied*/
  background: url(./media/img/VUH-maskwoman.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* display: flex;
  flex-direction: column; */
}

.keania-one-regular {
  font-family: "Keania One", sans-serif;
  font-size: 4em;
  font-weight: 400;
  font-style: normal;
  color: rgba(42, 66, 66, 0.726);
}

header {
  background-color: rgba(255, 217, 0, 0.753);
  min-width: min-content;
}

footer {
  background-color: rgba(255, 217, 0, 0.726);
  max-width: max-content;
  min-width: max-content;
  padding: 20px;
  /* make the footer element round like pill */
  border-radius: 9999px;
}

@media screen and (width <= 500px) {
  .social-media {
    flex-direction: column;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

i {
  color: rgba(42, 66, 66, 0.589);
  font-size: 2em;
  padding: 0 2px;
}
