/* gloablly applies border-box to prevent elements from overflowing their container */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.keania-one-regular {
  margin: 0;
  font-family: "Keania One", sans-serif;
  font-style: normal;
  color: rgba(42, 66, 66, 0.726);
}

.tour-name {
  font-size: 12vw;
  font-weight: 400;
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-style: italic;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /*background-image must be set first and the library of background properties are set after. otherwise they wont be applied*/
  background: url(./media/img/VUH-maskwoman.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-container {
  display: flex;
  height: inherit;
  width: inherit;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tour-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tour-list,
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  flex-shrink: 1;
}

header,
footer,
button {
  background-color: rgba(255, 217, 0, 0.753);
}

button:hover {
  opacity: 0.4;
  cursor: pointer;
}

header {
  min-width: min-content;
  width: max-content;
  padding: 20px;
  margin: 0;
  border-radius: 8px;
  box-sizing: border-box;
}

.media-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  height: 7em;
  width: auto;
}

.image {
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.artist-name,
.song-name,
.start,
.end,
.date,
.venue {
  margin: 0;
  font-size: 4vw;
  font-weight: 900;
  color: rgba(13, 44, 44, 0.76);
}

.logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-grillz {
  height: 7em;
  width: auto;
}

.fa-light {
  font-weight: 900;
}

.tour-list * {
  font-size: 4vw;
  padding: 0;
  margin: 0;
}

.track-scroll,
.volume-scroll {
  appearance: none;
  /* font-family: "Alumni Sans Pinstripe", sans-serif; */
  font-size: 4vw;
  display: flex;
}

li {
  list-style: none;
}

.tour-detail {
  border-bottom: 1px solid rgba(42, 66, 66, 0.473);
  margin-bottom: 10px;
}

.track-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.media-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-head {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-template {
  border-top: 1px solid rgba(42, 66, 66, 0.411);
}

.performance-date {
  text-decoration: line-through;
}

.shop-ig-buttons {
  display: flex;
}

footer {
  align-self: flex-end;
  max-width: max-content;
  min-width: max-content;
  padding: 20px;
  margin-top: 20px;
  /* make the footer element round like a pill */
  border-radius: 9999px;
}

.footer-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.fa-thin,
.fa-solid,
.fa-brands,
.fa-music,
.shop-btn,
.ig-btn {
  color: rgba(42, 66, 66, 0.76);
  font-size: 2rem;
  padding: 0 2px;
}

.fa-solid.fa-pause {
  display: none;
}

.ig-btn,
.shop-btn {
  border: 1px solid;
  border-radius: 8px;
  width: 100%;
}

.footer-btns {
  border: none;
  background-color: transparent;
}

@media screen and (width <= 500px) {
  .media-block {
    justify-content: space-around;
  }

  .tour-player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .shop-ig-buttons {
    padding: 10px 0;
  }
}
