body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /*background-image must be set first and the library of background properties are set after. otherwise they wont be applied*/
  background: url(./media/img/VUH-maskwoman.jpg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (width <= 500px) {
  .social-media {
    flex-direction: column;
  }
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

i {
  font-size: 2em;
}

fa-brands:hover,
fa-music:hover {
  /* transition:; */
}
